<html>
<head>
    {% load static %}
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static '/css/portfolio.css' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
</head>
<body>
<div class ="info">
    <div class= "profile-image">
        <img src="profile.jpg" alt="profile"/>
        <h3 class="name">Kasidit Wongpaiboon</h3>
        <h3>About Me</h3>
        <h4>I am a talented, ambitious and hardworking individual, with
            broad skills. I am always highly enthused about my work
            and tasks ahead to learn and self-development so that I can
            consistently achieve better results.
            Furthermore, I am adept at handling multiple tasks on a
            daily basis competently and at working well under
            pressure</h4>
        <h3>Interest</h3>
        <h4>Reading, Movies, Basketball, BoardGames</h4>
        <h3>Contact Me</h3>
        <h4>phone Number: 0851280333</h4>
        <h4>E-mail: Kasidit.wo@ku.th or pep52414@gmail.com</h4>
        <h3>Education</h3>
        <h3>High School</h3>
        <h4>Graduated from Suankularb Wittayalai</h4>
        <h3>Unversity</h3>
        <h4>Studied in Kasaetsart University</h4>
        <h4>Software Engineering</h4>
        <h3>Experience</h3>
        <h4>MOVIES API</h4>
        <h5>The application to get movies data and show it in JSON form in the local
            with our database that gets data from the data world
            Used Restful api development with open-api
            </h5>
        <a href=https://github.com/BenZacs/How-to-survive><h5>Github Link</h5></a>
        <h4>KVENT</h4>
        <h5>A web application that can be implemented and used for optimizing
            efficiency in online booking and appointment</h5>
        <a href=https://github.com/bleachjade/Kvent><h5>Github Link</h5></a>
        <a href=https://kventeventapplication.herokuapp.com><h5>Application Link</h5></a>
        <h4>HOW TO SURVIVE</h4>
        <h5>Used Arcade Framework using Python Language - First year project
        </h5>
        <a href=https://github.com/BenZacs/How-to-survive><h5>Github Link</h5></a>
    </div>

</div>
<a href="{% url 'contact' %}">Contact Me</a>
</body>
</html>